:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color: #213547;
  --background-color: #fff;
  --color-2: #f9f9f9;
  --color-history: #f0f0ff;
}

:root.dark-theme {
  --color: #fff;
  --background-color: #242424;
  --color-2: #4a4a4a;
  --color-history: #333;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  color: var(--color);
  background-color: var(--background-color);
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a, .navigation_text {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover, .navigation_text:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-2);
  width: 130px;
  color: var(--color);

  &:disabled {
    color: #b3b3b3;
    &:hover{
      border: none;
    }
  }
}

button {
  width: 100%;
}

button:hover, select:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible, select:focus, select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page_wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr;
  flex-direction: column;
  align-content: center;

}

.container {
  margin: 0 auto;
  width: 500px;
  display: grid;
  text-align: center;
  gap: 12px;
  padding: 64px 24px 0 24px;
}

h2 {
  text-align: center;
  color: #535bf2;
}

.img {
  justify-self: center;
  width: 250px;
  height: 250px;
  object-fit: contain;
  filter: drop-shadow(0 0 1.5em #646cff);
}

.navigation {
  text-align: end;
  padding: 48px 24px;
}